@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/*
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
*/

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    /*para que generar ancla animadas*/
    scroll-behavior: smooth;
}

:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --marginGrid: 1em;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1em;
    --corse: 1100px;
}

.container {
    max-width: var(--corse);
    margin: 0 auto;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}

/* inicio header */

header .nav-top {
    background-color: var(--colorSecundario);
    padding: 20px 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    text-decoration: none;
}

header .nav-top a i {
    color: var(--colorPrincipal)
}

i {
    font-size: calc(var(--fontSize)*1.4);
}

header .nav-top a span {
    color: white;
    display: none;
}

header .nav-top .fa-phone {
    transform: rotateZ(270deg);
}

header nav {
    padding: 20px 10px;
    background-color: white;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo {
    width: 90%;
}

header nav .logo img {
    max-width: 100px;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
    width: 2em;
}

header nav ul {
    width: 100%;
}

header nav .menu {
    text-align: center;
    padding-top: 0.625em;
    /* 10px */
}

header nav .menu li a {
    display: block;
    padding: 1.25em;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    color: #aaa;
}

header nav .menu li:last-child a{
    border-bottom: 0;
}

header nav .menu li a:hover, header nav .menu li .activo {
    color: var(--colorPrincipal)
}

/* final header */

/* inicio footer */

footer {
    position: fixed;
    width: 100%;
    background-color: var(--colorSecundario);
    bottom: 0;
    color: white;
    padding: 1em 0.625em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorPrincipal);
}

.arriba {
    position: fixed;
    bottom: 50px;
    right: 5px;
    font-size: 1.5em;
}

.arriba a {
    color: var(--colorPrincipal)
}

/* fin footer */

/* inicio hero */

.hero{
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-color: #aaa;
    background-blend-mode: multiply;
    display: flex;
     
}

.hero .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    color: white;
   
}

.hero h1{
    font-family: var(--fuenteSecundaria);
    font-size: calc(var(--fontSize)*2.3);
    color: white;
}

.hero h2{
    color: var(--colorPrincipal);
    font-size: calc(var(--fontSize)*1.35);
    margin: var(--marginGrid) 0px;
    text-shadow: 1px 1px 3px black;
}

.hero p{
    font-size: calc(var(--fontSize)*1.15);
}

.boton{
    display: inline-block;
    background-color: var(--colorPrincipal);
    color: white;
    text-decoration: none;
    padding: 1.15em;
    margin: var(--marginGrid) 0px;
    border: 1px solid var(--colorPrincipal);

}

.boton i{
    font-size: 95%;
}

.boton:hover{
    background-color: transparent;
    color: var(--colorPrincipal);

}

.boton:hover i{
    transition: 0.5s;
    transform: translateX(5px);
}

.hero .social{
    display: flex;
    width: 160px;
    justify-content: space-between;
    
}

.hero .social a{
    color: white;
    text-decoration: none;
}

/* fin hero */

/* inicio ourservice */

main section{
    padding: 2.5em 1em;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: var(--colorPrincipal);
}

main section .underline{
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: 700;
    color: var(--colorPrincipal);
    margin-bottom: 1em;
}
main section .underline span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section .underline hr{

    width: 100%;
    border-color: var(--colorPrincipal);
    
}

main section .underline div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

main #ourservices .flex{
    display: flex;
    flex-wrap: wrap;
}

main #ourservices .flex article{
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid #aaa;
}

main #ourservices .flex article h3{
    font-weight: 700;
    font-size: 110%;
    margin: 0.5em 0em;
}

main #ourservices .flex article p{
    color: #777;
    line-height: 1.10em;
    margin-bottom: 0.5em;
}

.enlace{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: 700;
}

.enlace i{
    font-size: 95%;
}

main #ourservices article div i{
    color: var(--colorPrincipal);
    border: 1px solid var(--colorPrincipal);
    padding: 0.5em;

}

.fa-truck{
    transform: rotateY(180deg);
}


/* fin ourservices */

/* inicio aboutus */

main section h3{
    font-weight: 700;
    font-size: 110%;

}

main section h4{
    color: var(--colorPrincipal);
    margin: var(--marginGrid) 0px;
}

main section p{
    color: #777;
    line-height: 1.10em;
}

main #aboutus{
    margin-bottom: 40px;
}

/* fin aboutus */

/*inicio our blog  */

main #ourblogs .flex{
    display: flex;
    flex-wrap: wrap;
}

main #ourblogs .flex article figure {
    display: flex;
    position: relative;
}



main #ourblogs .flex article figure div{

width: 100px;
height: 100px;
background-color: var(--colorPrincipal);
position: absolute;
opacity: 0.9;
}


main #ourblogs .flex article{
    width: 100%;
    padding: 2em 0;

}

main #ourblogs .flex article h2{
    font-weight: 700;
    font-size: 140%;
    margin: 0.5em 0em;
    text-align: left;
    font-family: var(--fuentePrincipal);
}

main #ourblogs .flex article figure p{
   color: white;
   text-align: center;
   font-weight: 700;
   font-size: 1.5em;
}

main #ourblogs .flex article .texto{
    padding: 20px 20px 0 20px;
    font-weight: 700;
}

main #ourblogs .flex article .texto p{
    padding-bottom: 20px;
    font-weight: 400;
}
main #ourblogs .flex article p:first-child{
    padding-top: 15px;
}

main #ourblogs .flex article p:last-child{
    padding-top: 15px;
}





/* fin ourblog */


/* inicio menu */
main #menu .container {
    padding: 20px;
    margin: 0 auto;
}

main  #menu {
    background-color: var(--colorSecundario);
}
main #menu .container h2,h3{
    color: white;
}

main #menu .comidas ul{
    padding: 1.5em 0;
}
main #menu .comidas ul li a{
display: block;
padding: 0.5em;
text-decoration: none;
color: white;
border-radius: 3px;
}

.container .comidas li:hover a{
    background-color: var(--colorPrincipal);
    color: var(--colorPrincipal);

}
#menu .container .comidas hr{
margin-left: 0;
width: 50px;
color: var(--colorPrincipal);
}

main #menu .comidas div{
padding: 1.5em 0;
}

main #menu .container .offers article{
    padding: 20px;
    font-size: 0.7em;
    line-height: 3em;
}
main #menu .container .offers article span{
    padding-left: 20px;
    color: var(--colorPrincipal);
}

main #menu .container .offers article h3{
font-size: 110%;
}
main #menu .container .comidasyoffers{
text-shadow: 1px 0px #aaa;
}





/* fin menu */

/* media query 600px */

@media(min-width: 37.5em){

 main #ourservices .flex article{
    width: calc(50% - var(--marginGrid)*2);
    padding: 0 var(--marginGrid);
    border-bottom: 0px;
    margin: var(--marginGrid);
    border-left: 1px solid #aaa;

}

 main #ourservices .flex article:last-child{
    width: 100%;
 }

 main #aboutus .flex{
     display: flex;
 }

 main #aboutus .columna{
    padding: 1em;
 }

 main #aboutus figure{
    width: 90%;
    margin: 0 auto;
 }

 main #aboutus figure .marco{
    border: 3px solid var(--colorPrincipal);
    transform: rotateZ(10deg);
    transition: 1s;
 }

 main #aboutus figure .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
 }

 main #aboutus figure:hover :is(.marco, img){
    transform:rotateZ(0deg);
 }

  main #ourblogs .flex article{
    width: calc(50% - var(--marginGrid)*2);
    padding: 0 var(--marginGrid);
    border-bottom: 0px;
    margin: var(--marginGrid);

}

 main #ourblogs .flex article:last-child{
    width: 45%;
 }


}


/* media queries 768px */


@media(min-width: 48em) {

    header .nav-top a span {
        display: inline;
    }

    header .nav-top .container {
        justify-content: space-between;
    }

    footer {
        text-align: left;
    }
    main #menu .container .offers article h3{
    font-size: 150%;
}  



}

/* media queries 1004px */

@media(min-width: 62.750em) {

    header nav .hamburguesa {
        display: none;
    }

    header nav .logo {
        width: 20%;
    }

    header nav ul {
        width: 80%;
    }

    header nav .menu {
        padding-top: 0;
        display: flex;
        justify-content: flex-end;
    }

    header nav .menu li a {
        padding: 0.4em 0em 0.4em 2.5em;
        border: 0;
    }
    
    main #ourblogs .flex article h2{
        font-size: 110%;
    }

    main #ourservices .flex article{
    width: calc(33.333% - var(--marginGrid)*2);
    }
    
    main #ourservices .flex article:last-child{
    width: calc(33.333% - var(--marginGrid)*2);
    }

     main #ourblogs .flex article{
    width: calc(33.333% - var(--marginGrid)*2);
    }
    
    main #ourblogs .flex article:last-child{
    width: calc(33.333% - var(--marginGrid)*2);
    }

    main #menu .comidasyoffers{
    display: flex;
    padding: 20px 0;
        
    }
   main #menu .comidasyoffers .comidas{
    width: 30%;
 
   }
     main #menu .comidasyoffers .offers{
    width: 70%;
    padding-left: 35px;
     }
   main #menu .comidasyoffers .offers article{
    display:flex;
   }
    main #menu .comidasyoffers .offers article figure{
    max-width: 25%;
    padding: 0 20px;
    }

    main #menu .comidasyoffers .comidas ul{
        padding-bottom: 40px;
    }

    .arriba i{
        display: none;
    }
    main #menu .container .offers article h3{
    font-size: 150%;
}
}